fastapi==0.128.0
mangum==0.20.0
python-multipart==0.0.21
black==25.12.0
isort==7.0.0
boto3==1.42.27
clarifai-grpc==12.0.4
python-dotenv==1.2.1
cachetools==6.2.4
python-jose[cryptography]==3.5.0
passlib==1.7.4
mysql-connector-python==9.5.0
bcrypt==5.0.0
pydantic[email]==2.12.5
requests==2.32.5
