fastapi==0.135.1
mangum==0.21.0
python-multipart==0.0.22
black==26.3.0
isort==8.0.1
boto3==1.42.65
clarifai-grpc==12.2.5
python-dotenv==1.2.2
cachetools==7.0.5
python-jose[cryptography]==3.5.0
passlib==1.7.4
mysql-connector-python==9.6.0
bcrypt==5.0.0
pydantic[email]==2.12.5
requests==2.32.5
